<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/players" method="POST">
        <% playerCategories.forEach(category => { %>
            <% if (category != 'id') { %>
            <label for="<%= category %>>"><%= category %>: </label>
            <input 
                type="text" 
                <% if (category == "name" || category == "team" || category == "position") { %> 
                required 
                <% } %>
                placeholder="Enter <%= category %>" 
                id="<%= category %>" 
                name="<%= category %>"
            >
            <% } %>
        <% }) %>
        <button>Submit</button>
    </form>
</body>
</html>