<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><%= player.name %></h1>
    <ul>
        <% for (const [key, value] of Object.entries(player)) { %>
            <% if (key != "id" && key != "name") { %>
                <li> <%= key.charAt(0).toUpperCase() + key.slice(1) %> : <%= value != "" ? value : "N/A" %> </li>
            <% } %>
        <% }%>
    </ul>
    <button id="delete-player-btn" data-player-id=<%= player.id %>>Delete Player</button>
    <button id="edit-player-btn" data-player-id=<%= player.id %>>Edit Player</button>
</body>
<script>
    const deletePlayerBtn = document.getElementById('delete-player-btn');
    deletePlayerBtn.addEventListener('click', () => {
        fetch(`/players/${deletePlayerBtn.dataset.playerId}`, {
            method: "DELETE"
        })
        .then(res => {
            if (res.ok) {
                window.location.href = '/players';
            } else {
                alert('failed to delete player');
            }
        })
        .catch(err => {
            console.log(err);
        })
    })

    const editPlayerBtn = document.getElementById('edit-player-btn');
    editPlayerBtn.addEventListener('click', () => {
        window.location.href = `/players/${editPlayerBtn.dataset.playerId}/edit`;
    })
</script>
</html>